.page-nav {
    max-width: 1000px !important
}

.theme-default-content:not(.custom) {
    max-width: 1000px
}

body {
    font-size: 18px
}
blockquote {
    font-size: 1.2rem
}
.theme-default-content code {
    font-size: 1em
}
a.sidebar-link {
    font-size: 1.2em !important
}